.Cultivos {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.Cultivos h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.Cultivos form {
  display: flex;
  flex-direction: column;
}

.Cultivos form div {
  margin-bottom: 15px;
}

.Cultivos form label {
  font-weight: bold;
}

.Cultivos form input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Cultivos form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Cultivos form button:hover {
  background-color: #0056b3;
}

.Cultivos .error {
  color: #ff0000;
  margin-top: 10px;
}

.green-container {
  background-color: #d3fcd5;
  padding: 20px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 10px;
}

.tabla-container {
  background-color: #ffff;
  padding: 20px;
}

.tabla-cultivos {
  width: 100%;
  border-collapse: collapse;
  background-image: url("/cultivo.png");
}

.tabla-cultivos th,
.tabla-cultivos td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.FondoCultivos {
  background-color: #fff;
}

.barra-navegacion {
  border-bottom: 2px solid #00ff00;
}
