.Pests {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.Pests h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.Pests form {
  display: flex;
  flex-direction: column;
}

.Pests form div {
  margin-bottom: 15px;
}

.Pests form label {
  font-weight: bold;
}

.Pests form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Pests form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Pests form button:hover {
  background-color: #0056b3;
}

.Pests .error {
  color: #ff0000;
  margin-top: 10px;
}

.green-container {
  background-color: #d3fcd5;
  padding: 20px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 10px;
}

.tabla-container {
  background-color: #ffff;
  padding: 20px;
}

.tabla-pests {
  width: 100%;
  border-collapse: collapse;
  background-image: url("/plagas.png");
}

.tabla-pests th,
.tabla-pests td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.FondoPests {
  background-color: #fff;
}

.barra-navegacion {
  border-bottom: 2px solid #00ff00;
}
